<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ range . }}
        <form action="/users/{{.ID}}/edit" method="POST">
            <div class=""> 
                <p>Имя</p>
                <input type="text" name="name" value="{{ .Name}}">
                <p>Фамилия</p>
                <input type="text" name="surname" value="{{ .Surname}}">
                <p>Пароль</p>
                <input type="text" name="password" value="{{ .Password}}">
                <p>Email</p>
                <input type="text" name="email" value="{{ .Email}}">
                <button type="submit">save</button>
            </div>
        </form>
    {{ end}}
</body>
</html>