<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./output.css" rel="stylesheet">
    <script src="/src/main.php"></script>
</head>

<body class="bg-white">

    <div class="ml-auto mr-auto max-w-7xl h-[100vh]">
        <div class="w-[100%] h-36 flex flex-row">

            <div class="w-[25%] h-full bg-white flex flex-row justify-center items-center">
                <img src="/images/Logo.png" class="h-20 w-14">
                <p class="pl-4 font-bold text-2xl">Organic</p>
            </div>

            <div class="w-[40%] flex flex-row font-medium text-xl m-auto px-10">
                <div class="w-[100%] flex flex-row ">
                    <p class="w-1/5">Home</p>
                    <p class="w-1/5">About</p>
                    <p class="w-1/5">Pages</p>
                    <p class="w-1/5">Projects</p>
                    <p class="w-1/5">News {{ .Name }}</p>
                </div>
            </div>

            <div class="w-[25%] h-full flex flex-row py-10">
                <img src="/images/Group 7.png" class="h-14 w-14 mr-6 pl-0">
                <img src="/images/Cart.png" class="h-14 w-32 mr-6">
                <button id="signin_button" href="/reg" class="px-10 py-2 text-xl bg-yellow-200 rounded-2xl">Sign
                    in</button>
            </div>x
        </div>

        <div class="h-[500px] w-full flex flex-row mt-8 bg-gray-00">
            <div
                class="w-1/2 h-[500px] flex flex-col justify-center items-center px-20 font-bold text-4xl text-gray-800">
                <p class="mb-2">Choose the best</p>
                <p class="mb-2">healthier way</p>
                <p class="mb-8">of life</p>
                <button class="p-6 text-2xl bg-yellow-200 rounded-2xl">Explore Now</button>
            </div>
            <div class="w-1/2 h-[500px] bg-blue-500">

                <img src="../images/Photo.png" class="h-full w-full">

            </div>
        </div>


        <div class="h-[330px] w-full flex flex-row mt-16 justify-center">
            <div class="fruits-after-bg bg-no-repeat w-[40%] bg-contain flex flex-col h-full pt-24 pl-10">
                <i class="text-xl text-white font-medium">Natural!!</i>
                <p class="text-3xl text-white font-semibold  justify-center">Get Garden</p>
                <p class="text-3xl text-white font-semibold  justify-center">Fresh Fruits</p>
            </div>
            <div class="fruits-after-bg-2 w-[40%] h-full bg-no-repeat bg-contain ml-10">
            </div>
        </div>

        <div class="flex flex-row">
            <div class="flex w-1/2">
                <img src="../images/Photo (1).png" class="h-[100%] m-auto" alt="">
            </div>

            <div class="flex w-1/2 h-full flex-col m-auto">
                <i class="text-2xl text-green-500 font-medium">About Us</i>
                <p class="text-4xl font-bold mb-1">We Believe in Working</p>
                <p class="text-4xl font-bold">Accredited Farmers</p>
                <p class="pt-4 pr-8 mb-4">Simply dummy text of the printing and typesetting industry. Lorem had ceased
                    to
                    been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                </p>


                <div class="flex flex-row h-[80px] mb-4">
                    <img class="w-16 h-16 m-auto bg-white rounded-xl" src="../images/org_food1.png">
                    <div class="flex flex-col pl-6">
                        <p class="text-2xl font-medium">Organic Foods Only</p>
                        <p class="text-md pr-24 text-gray-500">Simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum</p>
                    </div>
                </div>

                <div class="flex flex-row h-[80px]">
                    <img class="w-16 h-16 m-auto bg-white rounded-xl" src="../images/org_food2.svg">
                    <div class="flex flex-col pl-6">
                        <p class="text-2xl font-medium">Organic Foods Only</p>
                        <p class="text-md pr-24 text-gray-500">Simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum</p>
                    </div>
                </div>
                <button class="bg-cyan-800 mt-6 flex text-white px-10 text-xl m-auto p-5 ml-0 rounded-xl">Shop
                    now</button>
            </div>
        </div>

        <div class="bg-red-00 h-[500px] pt-10 w-full">
            <i class="flex justify-center pt-6 font-normal text-3xl text-green-400">Categories</i>
            <p class="flex justify-center pt-2 text-4xl font-bold">Our products</p>

        </div>

        <div class="flex flex-row w-full h-[400px]">
            <div class="w-1/4 h-full bg-gray-0 flex flex-col items-end pr-6 pt-10">
                <p class="text-4xl font-bold mb-8">Contact Us</p>
                <p class="text-xl text-gray-600">Email</p>
                <p class="text-xl text-gray-500 mb-6">dafadfa@gmail.com</p>
                <p class="text-xl text-gray-600">Phonel</p>
                <p class="text-xl text-gray-500 mb-6">8888888888</p>
                <p class="text-xl text-gray-600">Adress</p>
                <p class="text-xl text-gray-500">88 road brooklyn street</p>
            </div>
            <div class="w-2/4 h-full flex flex-col py-6 border-l-[2px] justify-center border-gray-300">
                <div class="flex flex-row mx-auto">
                    <img src="../images/Logo.png" class="h-24 w-16 mr-4">
                    <p class="flex justify-center text-4xl pt-6 font-semibold">Organick</p>
                </div>
                <p class="text-xl text-gray-400 px-10 pt-6">Simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum simply dummy text of the printing </p>
            </div>

            <div class="w-1/4 h-full border-l-[1px] border-gray-300 pl-4">
                <p class="text-4xl font-bold pt-10 mb-4">Utility Pages</p>
                <p class="mb-4 text-gray-600">Style Guide</p>
                <p class="mb-4 text-gray-600">404 Not Found</p>
                <p class="mb-4 text-gray-600">Password Protected</p>
                <p class="mb-4 text-gray-600">Licences</p>
                <p class="mb-4 text-gray-600">Changelog</p>
            </div>
        </div>

    </div>
</body>

</html>

{{ end }}