{{ define "admin_panel" }}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Админ-панель</title>
    <link href="/static/output.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
        .fade-in {
            animation: fadeIn 1s ease-in-out;
        }
        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    </style>
</head>
<body class="bg-gray-100">

    {{ template "header" . }}

    <div class="content fade-in">
        <section class="w-full flex flex-col items-center mt-8">
            <h1 class="text-3xl md:text-4xl font-bold text-gray-800 mb-8">Админ-панель</h1>
            <div class="w-11/12 md:w-3/4 lg:w-1/4 flex flex-col items-center gap-6">
                <a href="/admin/products" class="px-6 py-3 bg-cyan-700 hover:bg-cyan-800 text-white rounded-md w-full text-center transition-transform duration-300 transform hover:scale-105">Управление товарами</a>
                <a href="/admin/users" class="px-6 py-3 bg-cyan-700 hover:bg-cyan-800 text-white rounded-md w-full text-center transition-transform duration-300 transform hover:scale-105">Управление пользователями</a>
                <a href="/admin/articles" class="px-6 py-3 bg-cyan-700 hover:bg-cyan-800 text-white rounded-md w-full text-center transition-transform duration-300 transform hover:scale-105">Управление статьями</a>
                <a href="/admin/orders" class="px-6 py-3 bg-cyan-700 hover:bg-cyan-800 text-white rounded-md w-full text-center transition-transform duration-300 transform hover:scale-105">Управление заказами</a>
            </div>
        </section>
    </div>

    {{ template "footer" . }}

</body>
</html>
{{ end }}
